* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 1300px;
    margin: 0 auto;
}

.top-bar {
    background-color: #16252b;
    width: 100%;
}

.top-bar__title {
    font-family: 'Montserrat', sans-serif;
    color: #FFFA8A; /* #ECC440 #FFFA8A #DDAC17 #FFFF95 */
    padding: 15px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 10px;
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #081418;
    color: #fff;
    padding: 120px 0;
}

.banner__wrapper {
    gap: 100px;
}

.banner__content {
    flex: 1;
    gap: 100;
    max-width: 600px;  
}

.banner__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.banner__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.banner__text--highlight {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    color: #FFFA8A;
}

.banner__image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.banner__button {
    background: linear-gradient(135deg, #ECC440 0%, #FFFA8A 50%, #ECC440 100%);
    color: #081418;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 15px 160px;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(221, 172, 23, 0.3);
}

.banner__button:hover {
    background: linear-gradient(135deg, #FFFA8A 0%, #ECC440 50%, #FFFA8A 100%);
}

/* SEÇÃO BIOGRAPHY */

.biography {
    background-color: #000;
    color: #fff;
    padding: 60px 0 60px 0;
}

.biography__wrapper {
    padding: 60px 0;
    flex-direction: row-reverse;
    gap: 100px;
}

.biography__content {
    flex: 1;
    gap: 100;
    max-width: 600px;
}

.biography__title {
    flex: 1;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
}

.biography__text {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 20px;
    margin: 20px 0 20px 0;
}

.biography__title--highlight {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    color: #FFFA8A;
}

.biography__image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

/* SEÇÃO REVIEWS */

.reviews {
    background-color: #081418;
    padding: 100px 0;
}

.review-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.review__title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    color: #fff;
}

.review__title--highlight {
    color: #FFFA8A;
    font-weight: 700;
}

.review__grid {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.review-card {
    max-width: 190px;
    background-color: #16252b;
    padding: 30px 50px;
    border-radius: 15px;
    border: 1px solid rgba(255,250, 138, 0.1);
    transition: transform 0.3s ease;
}

.review-card:hover {
    transform: translateY(-10px);
    border-color: #FFFA8A;
}

.review-card__text {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    text-align: center;
    color: #e0e0e0;
}

.review-card__author {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #FFFA8A;
    padding-bottom: 2px;
}

.review-card__location {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #acacac;
    font-style: italic;
}

/* SEÇÃO ATENDIMENTO EXCLUSIVO */

.exclusive {
    background-color: #081418;
    height: auto;
}

.exclusive-wrapper {
    position: relative; /* ISSO É FUNDAMENTAL. Define o limite da "flutuação". */
    display: flex;
    align-items: center; /* Centraliza o card verticalmente */
    min-height: 600px; /* Garante altura suficiente para o efeito */
    padding: 50px 0;
}

.exclusive-card {
    width: 100%;
    height: 200px;
    background-color: #16252b;
    padding: 30px 50px;
    border-radius: 15px;
    border: 2px solid rgba(255,250, 138, 0.1);
    transition: transform 0.3s ease;
}

.exclusive-card__title {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    color: #FFFA8A;
    padding-bottom: 20px;
}

.exclusive-card__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    max-width: 700px;
    color: #fff;
}

.exclusive-card__text--highlight {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFFA8A;
}

.exclusive__image {
    position: absolute; /* "Solta" a imagem do fluxo normal */
    right: 0; /* Cola ela na direita do contêiner pai */
    
    /* Centraliza verticalmente */
    top: 50%;
    transform: translateY(-50%);
    
    /* Garante que ela fique NA FRENTE do card */
    z-index: 2; 

    /* Estilos visuais para parecer que está flutuando */
    border-radius: 20px;
    box-shadow: -30px 30px 60px rgba(0,0,0,0.5); /* Sombra projetada para esquerda/baixo */
    
    /* Ajuste de tamanho para garantir a sobreposição */
    max-width: 45%; /* Ajuste essa porcentagem conforme a imagem da Milena */
    height: auto;
    object-fit: cover;
}
